html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  margin-top: 0;
  border-bottom: 3px solid gold;
  background: black;
  color: white;
  padding-left: 10px;
}
h1, h2, h3 {
  font-weight: 300;
}

#title {
  margin-top: 0;
}

h1, p {
  margin: 5px 10px;
  padding: 0;
}

h2 {
  text-align: center;
}

.widgets {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h3 {
  margin-top: 0px;
  color: gold;
}

.widget {
  background: black;
  padding: 10px;
  height: auto;
  width: 400px;
  border: 3px solid gold;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

.todo_list {
  padding: 0;
  margin: 10px;
}
.todo, .todo_input {
  font-size: 1em;
  list-style: none;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.todo:hover {
  color: black;
  background: white;
}

.todo:hover .close {
  color: black;
  border: 1px solid black;
}


.todo_input {
  margin: 10px;
}

.widget input {
  font-size: 1em;
  outline: none;
  background: black;
  color: white;
}

.add_todo {
  margin: 0;
  border: none;
  width: 310px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gold;
}
:-moz-placeholder { /* Firefox 18- */
  color: gold;
}

.close, .add_button {
  font-weight: 700;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-left: 1px;
  text-align: center;
}

.add_button {
  padding-top: 1px;
}

.add:hover {
  color: green;
  border: 1px solid green;
}

table {
  margin: auto;
  margin-bottom: 20px;
}

td {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  background: white;
}

button {
  padding: 10px;
  color: gold;
  background: black;
  border: 3px solid white;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: white;
  color: black;
}

.weather_search {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  margin: auto;
  width: 200px;
}
